/* Global Settings */
body {
  color: #222;
  font-family: "Open Sans", "Fira Sans", "Verdana", "Source Sans Pro", "Dejavu Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}
a:link, a:visited {
  color: #08c;
  text-decoration: none;
}
a:active, a:hover {
  color: #666;
  text-decoration: underline;
}
.infobox {
  background: #ecf2f5;
  border: 1px solid #bcd;
}
/* Site Header */
header.main {
  color: #999;
  background: #333;
  border-bottom: 5px #08c solid !important;
}
header.main h1, nav, nav ul, nav li {
  display: inline;
}
header.main h1 {
  margin:0;
}
nav {
  float: right;
}
nav ul {
  padding: 0;
}
/* Main Content */
#content {
  width: 70%;
  margin: 1em;
}
article {
  float: left;
}
/* Sidebar */
#sidebar {
  float: left;
}
#sidebar section {
  padding: .5em;
  margin-bottom: 1em;
}
/* Footer */
footer.main {
  text-align: center;
}
